<a href="#/dashboard">Home</a> <a href="/logout">logout</a>

<h1>New Question</h1>

<form>
  Question: <textarea ng-model = 'newQ.question' rows="8" cols="40"></textarea>
  Description (optional): <textarea ng-model = 'newQ.description' rows="8" cols="40"></textarea>
</form>

<div ng-if = "newQ.question.length < 10">
  <h3>The question must be at least 10 characters long</h3>
</div>

<div ng-if = "newQ.question.length >9">
  <button type="button" ng-click = "add(newQ)">Submit</button>
</div>
<a href="#/dashboard">Cancel</a>
