<a href="#/dashboard">Home</a> | <a href="#/question/{{id}}">Go Back to Question</a>  <a href="/logout">Logout</a>

<h1>{{question.question}}</h1>
<h3>{{question.description}}</h3>

<form>
  Your Answer: <textarea ng-model = 'answer.answer' rows="8" cols="40"></textarea>
  Supporting details for your answer (optional) <textarea ng-model = 'answer.detial' rows="8" cols="40"></textarea>
</form>


<div ng-if = 'answer.answer.length < 5'>
  <p>
    Your answer must be 5 characters or longer
  </p>
</div>

<div ng-if = 'answer.answer.length > 4'>
    <button type="button" ng-click = 'add(answer)'>Submit</button>
</div>
<a href="#/question/{{id}}">Cancel</a>
